In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/BTC-USD.csv")
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015
1,2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002
2,2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990
3,2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992
4,2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014

In [ ]:
# deleting first column

# 1)
df.drop(columns=df.columns[0], axis=1, inplace=True)
# 2)
df = df.iloc[: , 1:]
# 3)
del df[df.columns[0]]